@model IEnumerable<Two.Record>

@*@{
        ViewBag.Title = "Index";
    }*@

<style>
    th {
        background-color: #64a867;
        color: white;
    }
         .but{
            background-color: #41a865;
            color: white;
            padding: 6px 10px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 70px;
            opacity: 0.9;
    }
</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<br />
<br />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

@using (Html.BeginForm("Search", "Records", FormMethod.Get))
{
    <h2 style="color:white;">Records</h2>
    <p>
        Search by Medicine name: @Html.TextBox("SearchString")
        <input type="submit" class="but" value="Filter" />
    </p>
}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Medicine Records</h3>
                        </div>
                        <div class="col col-xs-6 text-right">

                            <p>
                                @Html.ActionLink("Create New", "Create")
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.PatientID)
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.Bought_Medicine)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Buying_Reason)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Comment)
                                </th>

                                <th><em class="fa fa-cog  style=" align-content:center""></em></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PatientID)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bought_Medicine)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Buying_Reason)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.RecordID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.RecordID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.RecordID })
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.RecordID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.RecordID })
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>